* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.header {
  text-align: center;
  padding: 20px 30px;
  text-decoration: wavy;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  margin-bottom: 0px;
  display: block;
  block-size: 100%;
  background-color: lightblue;
}

body {
    padding: 0px
}

.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .content {
    /* background-color: #ddd; */
    padding: 2px 0px;
    height: 500px;
  }
  
  .footer {
    background-color: #f1f1f1;
    padding: 0px;
    position: absolute;
    bottom: 0px;
    width: 100%;
  }

  .parallax {
    /* The image used */
    background-image: url('background1-icons.jpeg');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .flex-container {
    height: 200px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    background-color: grey;
    justify-content:space-around;
    align-content: space-around;
}

  .flex-item{
    flex-shrink: 1;
    background-color: lightblue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}